.pageWrap {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.form-box {
  padding: 30px 20px;
}

.hint-title {
  font-weight: bold;
  padding: 10px 0;
}

.at-radio__title {
  font-size: 26px;
}

.formDivider {
  height: 30px;
  background-color: #eeeeee;
}
