.closeBtn {
  padding: 30px;
  position: absolute;
  right: 0px;
  top: -15px;
  z-index: 1001;
}

.modalContentWrap {
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #707070;

  .orange {
    color: #ff7600;
  }

  .goodsImageWrap {
    .goodsImage {
      width: 260px;
      // height: 170px;
      background-color: #ffffff;
      border-radius: 8px;
      border: 20px solid #ffffff;
      box-shadow: 0px 2px 2px rgba($color: #000000, $alpha: 0.14);
    }
  }

  .hintInfo {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .goodsName {
      color: black;
      margin-right: 8px;
    }

    .infoRow {
      display: flex;
      align-items: center;
    }

    .cubeBtnImg {
      width: 40px;
      height: 40px;
      margin: 10px;
    }
  }

  .buttonWrap {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;

    .modalBtn {
      flex: 1;
    }
  }
}
