.closeBtn {
  padding: 30px;
  position: absolute;
  right: 0px;
  top: -15px;
  z-index: 1001;
}

.modalContentWrap {
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #707070;

  .modalPic {
    width: 240px;
    height: 240px;
  }
  .hintInfo {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 400px;
    text-align: center;
  }
  .buttonWrap {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .modalBtn {
      flex: 1;
    }
  }
}
